<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-firestore.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    <link rel="stylesheet" href="../styles/success.css" type="text/css" />
    <link rel="stylesheet" href="../styles/Index.css" type="text/css" />

    <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-firestore.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    <script>
            // Your web app's Firebase configuration
            var firebaseConfig = {
              apiKey: "AIzaSyAO3gHEPxIrZjCjGIquqIQEo4_8ZWnPIOk",
              authDomain: "bcit-gym-buddies.firebaseapp.com",
              databaseURL: "https://bcit-gym-buddies.firebaseio.com",
              projectId: "bcit-gym-buddies",
              storageBucket: "bcit-gym-buddies.appspot.com",
              messagingSenderId: "682419343063",
              appId: "1:682419343063:web:bfd1e51fca933bfe9f6a92"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            var db = firebase.firestore();
          </script>
</head>

<body>
    <!--Header with back button and settings-->
    <div id="header" class="container-fluid h-20 pb-2 pt-2">
        <div class="row justify-content-between">
            <i class="fas fa-arrow-left pl-3 pt-1 defaultColor" onclick="location.href='./Index.html'"></i>
            <i class="fas fa-cog setting-icon text-right pr-3 defaultColor"></i>
        </div>
    </div>
    <div class="container-fluid text-center">

        <h1 id="eventJoinText" class="font-weight-bold"> You Created an Event!</h1>

    </div>
    <div class="text-center">
        <img src="../images/medal.svg" class="rowrounded" id="medalImage" alt="success">
    </div>

    <!--Events from EventLists.html-->
    <div class="card defaultBackground col-12">
        <div class="card-body ml-5 pt-2 pb-2">
            <h5 class="card-title yellowColor font-weight-bold mb-0" id="eventTitle">Badminton Anyone?</h5>
            <div class="row">
                <i class="fas fa-user white col-2 pt-1"></i>
                <p class="card-text text-white font-weight-bold col-10 mb-2"><small>posted by <span id="username">jayjay0190</span></small></p>
            </div>

            <hr class="m-0 mb-2">
            <div class="row">
                <i class="far fa-check-circle col-1 text-white pr-0 pt-1"></i>
                <p class="card-text text-white font-weight-bold mb-0 pl-3 col-11 pl-0">Today, 5:50 PM</p>
                <i class="far fa-check-circle col-1 text-white pr-0 pt-1"></i>
                <p class="card-text text-white font-weight-bold mb-0 pl-3 col-11 pl-0 ">Badminton</p>
                <i class="far fa-check-circle col-1 text-white pr-0 pt-1"></i>
                <p class="card-text text-white font-weight-bold mb-0 pl-3 col-11 pl-0">Intermediate</p>
                <i class="far fa-check-circle col-1 text-white pr-0 pt-1"></i>
                <p class="card-text text-white font-weight-bold mb-0 pl-3 col-11 pl-0">2/3 people</p>
            </div>

        </div>
    </div>

    <!--Team chat container-->
    <div class="card defaultBackground col-12 mb-5">
        <div class="row">
            <div class="container-fluid text-left">
                <h5 class="text-left card-title yellowColor font-weight-bold mb-0 mt-3">Start chatting with your team
                </h5>
            </div>
        </div>
        <div class="row">
            <!--This should import profile picture-->
            <img src="../images/user.svg" class="rounded ml-4 userImage" alt="success">
            <img src="../images/user.svg" class="rounded ml-4 userImage" alt="success">
        </div>
    </div>

    <!--Footer-->
    <div class="row">
        <div class="btn-group fixed-bottom" role="group" aria-label="Basic example">
            <button type="button" class="col btn btn-dark py-1" onclick="location.href='./Index.html'">
                <i class="far fa-calendar-check"></i>
            </button>
            <button type="button" class="col btn btn-secondary py-1" onclick="location.href='./Index.html'">
                <i class="fas fa-home"></i>
            </button>
            <button type="button" class="col btn btn-dark py-1" onclick="location.href='./account.html'">
                <i class="fas fa-user-circle"></i>
            </button>
        </div>
    </div>



    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyAO3gHEPxIrZjCjGIquqIQEo4_8ZWnPIOk",
            authDomain: "bcit-gym-buddies.firebaseapp.com",
            databaseURL: "https://bcit-gym-buddies.firebaseio.com",
            projectId: "bcit-gym-buddies",
            storageBucket: "bcit-gym-buddies.appspot.com",
            messagingSenderId: "682419343063",
            appId: "1:682419343063:web:bfd1e51fca933bfe9f6a92"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        var db = firebase.firestore();
    </script>
    <!--Bootstrap, jQuery, fontAwesome-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/df012b2a98.js" crossorigin="anonymous"></script>

    <!-- <script src="../scripts/index.js"></script> -->
    <script src="../scripts/success_creating.js"></script>

</body>

</html>