html,
body {
  width: 100%;
  height: 100%;
  background: #e9ecef;
}

#header {
  background: #e9ecef;
  font-size: 1.5rem;
}

.fa-medal {
  font-size: 7rem;
}

#settingBox {
  background: #394582;
}

.card {
  background: none;
  border-color: white;
  color: white;
}
