.defaultColor{
    color:#394582;
}

.defaultBackground{
    background:#394582;
}

.whiteFont{
    color:#FFFFFF;
}

.whiteBackGround{
    background: #FFFFFF;
}

.grayIcon{
    color:#D9D9D9;
}

.yellowColor{
    color:#FFE977
}