hr {
    border: none;
    width: 100%;
    height: 3px;
    color: #394582; /* old IE */
    background-color: #394582; /* Modern Browsers */
}

.card{
    border-color: #FFE977;
}

form .form-control{
    border: 3px solid #394582;
}

.borderRadius{
    border-radius:1.5rem;
}

.btn-link{
    background: white;
    color: #394582;
    border-radius: 1.5rem;
    margin-left: 38%;
}

.btn-link:hover{
    text-decoration: none;
}

.btn:hover{
    color: white;
    background: #394582;
}

.userIcon{
    font-size: 2rem;
}

textarea[readonly] {
    background-color: white;
  }