@font-face {
  font-family: 'soloist';
  src: url('../fonts/soloist1-webfont.woff2') format('woff2'),
    url('../fonts/soloist1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Tomorrow:600i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tomorrow:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #394582;
}

#top_bar {
  font-size: 2em;
  font-weight: bold;
  background: white;
}

#div_form {
  color: #FFE977;
  font-family: 'work sans', sans-serif;
}

.btn-outline-secondary {
  margin: 0 auto;
  color: #FFE977;
  border-width: 3px;
  border-color: #FFE977;
  display: block;
}

.modal-header {
  border: none;
  display: none;
}

.modal-body {
  color: white;
  border: none;
  text-align: center;
}

.modal-footer {
  border: none;
  text-align: center;
}

.modal-content {
  background-color: #394582;
}

.btn-secondary {
  background-color: white;
  color: #6c757d;
  border: none;
}

.btn-primary {
  background-color: white;
  color: #394582;
  border: none;
  font-weight: bold;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle {
  background-color: #FFE977;
  color: #394582;
}