html,
body {
  width: 100%;
  height: 100%;
  background: #e9ecef;
}

#fatContainer {
  height: 100%;
}

#fixedBottomCustom {
  position: fixed;
  bottom: 10vh;
  right: 5vw;
  float: right;
}

#fixedBottomCustom img {
  border: 4px solid #394582;
  border-radius: 50%;
}



button i {
  font-size: 2rem;
}

.user-icon {
  font-size: 6rem;
}

.setting-icon {
  font-size: 2rem;
}

.jumbotron {
  margin: 0;
}

.jumbotron .container h1 {
  font-size: 2.4rem;
  font-weight: bold;
}

.upcoming-card {
  margin: 0;
  padding: 0;
}

.card-container {
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

#buttonGroup{
  z-index:10;
}

.position-absolute {
  font-size: 16pt;
  right: 10;
  bottom: 20;
}

/*this is to change the font for event list page*/
.card-title {
  font-family: 'Tomorrow', sans-serif;
  font-weight: lighter;
}

.card-text {
  font-family: 'Raleway';
  font-weight: 400;
}
