
#firebaseui-auth-container {
    width: 40vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px 0 #28305A;
}

body {
    background-image: linear-gradient(#394582 70%, #B5B9D0);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

#title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 38pt;
    position: absolute;
    top: 15%;
    /*background-image: linear-gradient(rgb(175, 175, 49), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    -webkit-text-stroke: 1px white;
    color: rgb(226, 226, 83);
}